// Fonts
$body-font-family: PingFangSC-Light,helvetica,Heiti SC, -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
$handwriting-font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
$headline-font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
// Colors
$body-text-color: #000;
$color-white: #fff;
$color-black: #000;
$color-green: #00cc00;
$color-green-darker: #029102;
$color-gray: #999999;
$color-light-gray: #E7E7E7;
$color-purple: #9966ff;
$color-pink:#ff6666;
$color-salmon: #f97e70;
$color-orange: #ffa500;
// Accordion Height
$a-height: 500px;
// Position text along bottom
$text-offset: $a-height - 90;
