header {

  .header-search {
    padding: px(10) px(20);
    display: flex;
    align-items: center;

    .logo {
      height: px(22);
      width: px(80);
      margin-right: px(10);
    }

    .search-wrapper {
      flex: 1;
      height: px(30);
      position: relative;
      display: flex;
      align-items: center;

      .svgIcon-search {
        position: absolute;
        left: px(5);
        color: #888;
        fill: #888;
      }

      &:hover .svgIcon-search{
        color: #000;
        fill: #000;
      }

      input {
        background-color: #ededed;
        border-radius: 5px;
        width: 0;
        height: 100%;
        border: 0;
        padding-left: 35px;
        transition: width 0.3s linear, background-color 0.4s linear;;

        &:focus {
          outline: 0;
          border: 0;
          width: 100%;
        }
      }



    }


  }

  img{
    width: 100%;
    height: 100%;
  }
}



header .nav {
  height: px(30);
  display: flex;
  padding-left: px(15);



  .nav-item {
    text-align: center;
    padding: 0 px(15);
    line-height: px(30);
    white-space: nowrap;


    & .active {
      color: red;
      width: inherit;
    }

    & .active:after{
      content: '';
      width: inherit;
      height: 2px;
      background-color: red;
      position: absolute;
      bottom: 2px;
      left: 0;
    }

  }

}

header .policy-list {
  padding: px(10);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: px(14);

  .policy-item{
    display: flex;
    align-items: center;

  }
}


.supply {
  padding: px(15) 0;

  .supply-title {
    text-align: center;
  }
}

