body  .nav-link {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  z-index: 1;
  background-color: #f6f6f6;
  padding-top: 10px;

  & ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: px(50);
  }

}